<h1>"New Answer"</h1>
<%= form_for [@question, @answer] do |f| %>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>

    <%= f.label :user %><br>
    <%= f.number_field :user %>

    <%= f.submit "Add Answer" %>
  </div>
<% end %>
